
# .clangd

# https://clangd.llvm.org/config
# Clangd can be installed using nixpkgs.clang-tools

CompileFlags:					# Tweak the parse settings
  Add: [-xc++, -Wall, -Wunused-variable]             # treat all files as C++, enable more warnings
  Remove: [-W*]                   		     # strip all other warning-related flags
  Compiler: clang++               		     # Change argv[0] of compile flags to `clang++`

